<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.likui.springboot.mappers.UserMapper">
    <select id="retrieveUser" resultType="com.likui.springboot.eneity.User">
        SELECT
            username,password
        FROM
            user
        WHERE
            username=#{username}
    </select>
</mapper>